<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gurdian_picture_tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Gurdian_picture_tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Gurdian_picture_tool.Properties.Settings>
      <setting name="SfFormKey" serializeAs="String">
        <value>NTQyNjM3QDMxMzkyZTMzMmUzMEM3L1FZWW1rZ2NPdy9hNlNuWUFmZFNiV1hSRXZEZjlCUFkycWVqdkMwMkk9;NTQyNjM4QDMxMzkyZTMzMmUzMG9NZi9XYWVvd052WW1uMFFjWkNXR3paZ2pXUnl3NlVwZUhHQzJRc0VzbkE9;NTQyNjM5QDMxMzkyZTMzMmUzMG5aWFhsV25YS0ZpVnJYeUFQZUZKMmEvN2lvUkQvQ1YyVGZ0WEl4SHd6QWc9;NTQyNjQwQDMxMzkyZTMzMmUzMGpPUExNOGlXVjJuYzhyNGUzME5sQ3R0VHFZa2k5RjNBeXRGZjV3MG1QZnc9;NTQyNjQxQDMxMzkyZTMzMmUzME1Xd3lMTWQ2VERibHNDRXdMa2VXQ0N5bTBxK2h6R2k0NFNwZ0twaHRNQ3c9;NTQyNjQyQDMxMzkyZTMzMmUzMEorMDlOdzkxRHBrN0lEaXlmTXp4bjl1elhDUzkydWIyejgxSTJFRzNtZzg9;NTQyNjQzQDMxMzkyZTMzMmUzMGZXOVFwSnR0VGpuVzFEWTNxM0hRVmh6YWYyb3p3MFdiZng2S1lRZ1hyY289;NTQyNjQ0QDMxMzkyZTMzMmUzMGpLS0FuZEEwUUpiOEpqTEtIcUVBVmtqM08rVU80Zng5N2dtNk5UTXNNUjQ9;NTQyNjQ1QDMxMzkyZTMzMmUzME5DdFBocFU2NUw0WXJDenFSMGR1elhSaHZWRWdSK3RuZFh1VFVkTEJkTkk9;NTQyNjQ2QDMxMzkyZTMzMmUzMFFBT0tXVmRJNDBwYmRTQ3dwSVErcUZvQWZsQ01NRTFDKzYxU0dUVmVJOXc9;NTQyNjQ3QDMxMzkyZTMzMmUzMEh6aGFBVGZuTlh2TkNXTEZxSGNJRFczeE1sZmZyRE9LcldwU0p2aHF6WGs9</value>
      </setting>
    </Gurdian_picture_tool.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Gurdian_picture_tool.Properties.Settings>
      <setting name="r" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="g" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="b" serializeAs="String">
        <value>255</value>
      </setting>
      <setting name="pngQualityInKB" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="jpgQuality" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="format" serializeAs="String">
        <value>jpg</value>
      </setting>
    </Gurdian_picture_tool.Properties.Settings>
  </userSettings>
</configuration>